.logo{
    height: 100px;
}

.espaco{
    height: 100px;
}

.textBox{
    background: rgba(255, 255, 255, 0.6);
}

ion-content.background{
    --background: url(/assets/img/fundo.jpg) 0 0/100% 100% no-repeat;
}