.bloco {
  height: 18%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
  margin: 0 0 2px 0;
  color: #ffffff;
}

.xc {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
